.layout {
	margin: auto;
	text-align: center;
	background: #D8D7D1;
	padding: 10px 0px;
}
.course {
	padding: 5px;
	background: #E5DDEA;
	margin: 0;
	font-family:"Book Antiqua";
}
#projects {
	padding: 5px 0px;
}

#bg {
	background-color: #F9F7F2
}

.project {
	padding: 5px;
	margin: 5px;
	background: #C8D5E8;
	float: right;
	font-family: "Verdana";
	font-size: large;
}

.intro {
	margin: 20px 0px;
	text-align: left;
}

p {
	font-family: "Comic Sans MS";
	font-size: medium;
}
